# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform Variables
terraform.tfvars
*.auto.tfvars

# Environment Files
.env
.venv/
venv/

# AWS Keys
*.pem

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db